.tablehead1 {
    background-color: black;
    color: white;
    border-radius: 6;
    width:100%;
}

.tableBox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    width:100%;
}
.innertable-heading{
    border-right: '3px solid white'
}